<div class="container">
    <app-carousel [images]=dishes[id].images></app-carousel>
    <app-rating [dish]="dishes[id]"></app-rating>
    <h1>{{dishes[id].name | uppercase}}</h1>
    <h4> {{dishes[id].category | uppercase}}</h4>
    <h3 class="price"> {{showPrice(dishes[id])}} {{currency}} </h3>

    <p class="description">
        {{dishes[id].description}}
    </p>


    <div class="cnt-left" [ngClass]="{'cnt-left-warning' : (dishes[id].maxPositions - getBasketQty(dishes[id])) < 4}"> {{dishes[id].maxPositions - getBasketQty(dishes[id])}}</div>

    <div class="buttons">
        <button class="decBtn" [ngClass]="{'vanish' : getBasketQty(dishes[id]) == 0}" (click)="removeFromBasket(dishes[id])">-</button>
        <h4 class="cnt">{{getBasketQty(dishes[id])}}</h4>
        <button class="incBtn" [ngClass]="{'vanish' : getBasketQty(dishes[id]) == dishes[id].maxPositions}" (click)="addToBasket(dishes[id])">+</button>
    </div>
</div>
<app-rate-form [dish]="dishes[id]">

</app-rate-form>
<app-rates-list [dish]=dishes[id]></app-rates-list>