<div class="container">
    <app-carousel [images]=dishes[id].images></app-carousel>
    <!-- <h1>{{dishes[id].name | uppercase}}</h1> -->
    <!-- <h4> {{dishes[id].category | uppercase}}</h4> -->
    <!-- <h3 class="price"> {{showPrice(dishes[id])}} {{currency}} </h3> -->
    <!-- <p class="description">
        {{dishes[id].description}}
    </p> -->
    <div class="form-group">
        <label for="">name</label>
        <input type="text" [(ngModel)]="dishes[id].name" name="name">
    </div>
    <div class="form-group">
        <label for="">kitchen</label>
        <input type="text" [(ngModel)]="dishes[id].type" name="name">
    </div>
    <div class="form-group">
        <label for="">category</label>
        <input type="text" [(ngModel)]="dishes[id].category" name="name">
    </div>
    <div class="form-group">
        <label for="">ingredients</label>
        <input type="text" [(ngModel)]="dishes[id].ingredients" name="name">
    </div>
    <div class="form-group">
        <label for="">day limit</label>
        <input type="text" [(ngModel)]="dishes[id].maxPositions" name="name">
    </div>
    <div class="form-group">
        <label for="">price</label>
        <input type="text" [(ngModel)]="dishes[id].price" name="name">
    </div>
    <div class="form-group">
        <label for="">description</label>
        <textarea type="text" [(ngModel)]="dishes[id].description" name="name"></textarea>
    </div>
    <div class="form-group">
        <label for="">images</label>
        <textarea type="text" [(ngModel)]="dishes[id].images" name="name"></textarea>
    </div>
    <button (click)="updateDish(dishes[id])">update</button>


</div>